name: Cocos打包(3.8.8)

on:
  workflow_dispatch:
    inputs:
      title:
        description: '标题'
        required: true
        default: 'Cocos打包(3.8.8)'
      params:
        description: '参数'
        required: true
        default: ''

run-name: ${{ github.event.inputs.title }}

jobs:
  deploy:
    runs-on: macos-latest

    env:
      CLI_URL: 'https://oss.w2a.ai/easy_cli_macos_360.exe'
      COCOS_VERSION: 'mac-3.8.8'
      COCOS_URL: 'https://public-slch.s3.ap-southeast-1.amazonaws.com/CocosCreator-v3.8.8-mac-092301.zip'

    steps:
      - name: 下载代码
        uses: actions/checkout@v4

      - name: 下载easy_cli
        run: |
          curl -L -o ./easy_cli.exe "$CLI_URL"
          chmod +x ./easy_cli.exe
          ./easy_cli.exe -v

      - name: 安装:Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '23.1.0'

      - name: 安装Wrangler
        run: npm install wrangler --global

      - name: 安装:JDK17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: 安装:Android SDK-34 + BuildTools-36.0.0 + NDK-28.1.13356709
        uses: android-actions/setup-android@v3
        with:
          packages: 'platform-tools platforms;android-34 build-tools;36.0.0 ndk;28.1.13356709'

      - name: 获取CocosCreator.zip缓存
        id: cache-cocos-zip
        uses: actions/cache@v4
        with:
          path: ${{ runner.temp }}/cocos_installer.zip
          key: cocoscreator-zip-${{ env.COCOS_VERSION }}

      - name: 无CocosCreator.zip缓存,重新下载
        if: steps.cache-cocos-zip.outputs.cache-hit != 'true'
        run: |
          curl -L -o "$RUNNER_TEMP/cocos_installer.zip" "$COCOS_URL"

      - name: 解压安装CocosCreator
        run: |
          unzip "$RUNNER_TEMP/cocos_installer.zip" -d /Applications

      - name: 设置环境变量
        run: |
          echo "COCOS_ANDROID=$HOME/.CocosCreator/profiles/v2/packages/android.json" >> $GITHUB_ENV
          echo "NDK_ROOT=$ANDROID_HOME/ndk/28.1.13356709" >> $GITHUB_ENV
          printenv | sort

      - name: 清除GIT身份干扰
        run: |
          git config --local --name-only --get-regexp 'http.https://github.com/.extraheader' && git config --local --unset-all 'http.https://github.com/.extraheader' || :

      - name: 开始构建
        run: |
          ./easy_cli.exe -s "${{ github.event.inputs.params }}"
